/*----------------------------------
 *  -----------------RTL -----------------
 *---------------------------*/
@import "color/theme_variables";

/*-----------------HEAER ----------------*/
.label-sale{right: 10px; left: inherit;
    &:after{border-left: 0;border-right: 8px solid transparent;}
}

.header-top{
    .header-top-right{text-align: left;
        ul.top-link > li{float: right;
            &.account >a {padding-right: 20px !important; padding-left: 0 !important;
                &:before{left: inherit; right: 0;}
            }
            &:hover a{padding-left: 0; padding-right: 20px;
                &:before{left: inherit; right: 0;}
            }
        }
    }
}

.header-top .currencies-block{border-right: 0;}

/*------------SEARCH PRO ------------*/
.header-center .navbar-search{
    #search input{float: right; padding-right: 15px; border-right: 1px solid #ddd; border-left: 0;}
}
#sosearchpro.search-pro{margin-left: 0; margin-right: -23px; float: right;
    .button-search{margin-right: 0;} 
}
#sosearchpro .icon-select::after{left: 0; right: inherit;}

.header-bottom .sidebar-menu{
    .so-vertical-menu{
        #menuHeading .megamenuToogle-wrapper .container{padding: 15px 15px 15px 35px !important;
            > div{float: right; margin: 2px 0 0px 9px;}
        }
        
        .vertical ul.megamenu{
            > li{
                &.with-sub-menu > a:after{transform: rotate(180deg); left: 10px; right: inherit; top: 5px;}
                .icon{float: right; background-position: center 20%;}
                &.loadmore{text-align: right;}
                &.style1 .content:after{left: -13px; right: inherit;}
            }
            .sub-menu{right: 100% !important; left: auto;}
        } 
    }
    
}
ul.megamenu > li > a img{margin: 0 0 0 10px;}
/*--------------SLIDESHOW -----------*/
#yt_header_right{
    .three-block{padding: 0 8px 0 0;}
}
/*----------------------BREADCRUMB -----------------*/
ul.breadcrumb li{
    &:first-child{border-right: 1px solid; border-left: 0;}
    &:after{border-left: 1px solid #e1e1e1; border-right: 0; transform: rotate(-45deg); left: -8px; right: inherit;}
    + li:before{right: -9px; left: inherit; transform: rotate(-45deg);}
}

/*---------------------------------MODULE --------------------------*/
.module.tab-slider .so-listing-tabs{direction: ltr;
    .ltabs-tabs-container .ltabs-tabs-wrap .ltabs-tabs{float: left; margin-left: 80px; margin-right: 0;
        li{float: right;}
    }
    .ltabs-items-container .ltabs-items .item-inner{
        .caption{text-align: right;}
        .button-group{
            .addToCart{float: right; margin-left: 3px;
                i{margin-right: 0; margin-left: 5px; float: right; line-height: 20px;}
            }
            .wishlist, .compare{float: right;}
        } 
    } 
    .owl2-controls .owl2-nav{
        .owl2-prev{left: 0; right: inherit;}
        .owl2-next{left: 25px; right: inherit;}
    } 
}

/*------------------------CUSTOM HTML --------*/
.banner-wraps {
    .htmlconten1{padding-left: 24px; padding-right: 0; float: right;}
    .htmlconten3{padding-left: 0; padding-right: 24px; float: left;}
}
.banner-policy .policy a span{float: right !important; margin-left: 10px; margin-right: 0 !important;}


/*------------------HOT CATEGORIES --------------*/
.module.so-categories .cat-wrap.theme3 .content-box{
    .inner{padding-left: 0; padding-right: 15px;}
    .child-cat .child-cat-title{padding-left: 0 !important; padding-right: 11px;
        &:before{left: inherit; right: 0;}
    }
    .image-cat .btn-viewmore{left: inherit !important; right: 20px;padding: 5px 10px 5px 20px;
        &:before{content: "\f0d9"; font-family: FontAwesome; position: absolute; top: 6px; left: 8px;}
        &:after{display: none;}
    }
}
div.so-categories.preset01-4 .cat-wrap .content-box{float: right;}

/*-------------------  GENERAL STYLE ----------------------------
 * 1. FOOTER
 * 2. PRODUCT LISTING
 * 3. PRODUCT DETAIL
 * 4. ORTHERS PAGE
 *  */

//--------------------CART --------------
.shopping_cart .shoppingcart-box a.btn{padding: 6px 10px 6px 20px;
    i{margin-left: 5px; margin-right: 0;}
}

/*---------------- 1. FOOTER----------------*/
.contact-address{
    span{left: inherit; right: 0; margin-right: 0; margin-left: 10px;}
    li{padding: 0 41px 8px 0;}
}
.block-payment{float: left;
    a.payment6{margin-right: 3px;}
    a.payment5{margin-right: 3px;}
    a.payment4{margin-right: -3px;}
    a.payment3{margin-right: -2px;}
}
.footer-container .footer-navbar .module ul.menu li a:before{content: "\f100"; margin-right: 0; margin-left: 5px; float: right;}
ul.footer-directory li h2{margin-right: 0; margin-left: 5px;}
/*---------------2. PRODUCT LISTING -----------------*/
.product-filter.filters-panel .list-view{text-align: right;}
.module.block_category .box-content ul li{
    span.button-view{left: 0; right: inherit;}
    ul li a:before{content: "\f104"; margin-left: 0; margin-right: -12px; float: right;}
    ul li a:hover:before{margin-right: 0;}
} 
.module.latest-product .media .media-left{float: right; margin-left: 20px; margin-right: 0;}
div.block_category .box-content ul li a{padding: 5px 0 5px 30px}
.block_category .box-content ul li ul li a{padding: 0;}
#input-sort > option{padding-right: 12px !important;}

/*----------------------3. PRODUCT DETAIL ------------------*/
.product-detail{
    .producttab .tabsslider.vertical-tabs{
        ul.nav-tabs{
            li:before{left: inherit; right: 0;}
        }
        .tab-content{border-right: 1px solid #e6e6e6; border-left: 0;}
    }
    .left-content-product .content-product-right .product-label{
        .price{float: right;}
        .stock{float: left}
    }
    div.left-content-product .content-product-left{padding-left: 15px;}
    .left-content-product .content-product-right .box-info-product{float: right;
        .quantity .quantity-control{float: right;}
        .cart{float: right; margin-left: 3px; margin-right: 0;}
        .add-to-links ul li a{float: right;}
    }
    div.left-content-product .content-product-right{
        .box-review .ratings{margin: 0 0 0 20px;}
        #product .box-date{
            label{float: right; margin-right: 0; margin-left: 10px;}
            button{float: left; border-left: 1px solid #ddd; border-right: 0;}
        }
        .product-box-desc .inner-box-desc:before{left: inherit; right: -20px;}
        
    } 
    .addthis_native_toolbox{float: right;}
}

.releate-products .product-layout,
.owl2-carousel .owl2-stage-outer{direction: ltr;}
div.related .releate-products.owl2-theme .owl2-nav{
    div.owl2-next{float: left; left: 5px; right: inherit;}
    div.owl2-prev{float: left; left: 0; right: inherit;}
}

div.zoomContainer .zoomWindow {direction: ltr; left: 0 !important; right: 450px;}
.text-danger{float: right;}
#product-accordion .panel .panel-heading a span.arrow-up{left: 0; right: inherit;}
#thumb-slider.owl2-carousel .owl2-stage-outer{margin-right: -10px; direction: ltr;}

#tab-review  .contacts-form span span.text-danger{margin-left: 15px; margin-right: 0;}
.mfp-close{left: 0; right: inherit;}
/*------------------------END PRODUCT DETAIL ----------------*/

/*-------------------------4. ORTHER PAGES ---------------------------------------------*/
//CONTACT
    div.contact ul li {padding-left: 0;padding-right: 45px;float: right;
         &:before {left: auto;right: 0;}
    }
    div.about-us .about-content{
         .image{float: right; margin-right: 0; margin-left: 30px;}
         .whychooseus ul li{padding-left: 0; padding-right: 30px;
              &:before{left: inherit; right: 0;}	
         }
         .title strong{padding: 0px 0 0px 15px;}
         .customersay .happy-title{right: 20px; left: inherit;}
    }
    .about-us .owl-dots{left: inherit; right: 47%;
         .owl-dot span{float: right;}
    }
    .about-us .owl-carousel.owl-loaded{direction: ltr;}

//SITE MAP
.page-sitemap{
    h1{font-weight: normal; margin-bottom: 20px;}
    .arrow-list li:before{content: "\f104"; float: right; margin-left: 10px; margin-right: 0;}
} 
//-----------------------------PAGE LOGIN & REGISTER---------------
.page-login{
    .well h2{padding-left: 0; padding-right: 20px;
        &:before{left: inherit; right: 0;}  
    }
    .customer-login .bottom-form{
        input{float: left; margin-right: 0; margin-left: 10px;}
        a{padding-left: 0; padding-right: 16px;}
       } 
}
.account-register .buttons input.btn{float: left;}
.page-login .new-customer .bottom-form a{float: left; margin-left: 10px;}

//------------------PAGE SEARCH


//-- PAGE CART SHOPPING
.shopping_cart .shoppingcart-box:before{right: inherit; left: 114px;}
.shopping_cart{
    a.top_cart{text-align: right;}
    a.top_cart .handle{float: right !important; margin: 5px 0 5px 10px; }
    a.top_cart .shopcart .title{text-align: right;}
    a.top_cart .shopcart .text-shopping-cart{white-space: nowrap; text-align: right;}
   .btn-group  {text-align: left;}
}
.shopping_cart a.top_cart{white-space: nowrap;}
.shopping_cart .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th{background: #fff;}

/*---------------------------------------PAGE BLOG ----------------------*/
div.article-info .article-sub-title span.article-author{padding-right: 0; padding-left: 11px;}
div.article-info .article-sub-title span{border-right: 0; border-left: 1px solid #e5e5e5; float: right;}
.article-reply .author{float: right;}
.article-reply .comment-date{float: left;}
.blog-listitem .blog-item .itemBlogContent{padding-right: 30px; padding-left: 15px;
    .article-sub-title .article-date i{margin-right: 0; margin-left: 5px;}
    .blog-meta{float: right;
        > span.comment_count{float: left;}
        span.author{padding-right: 0;}
    }
} 
div.article-info .related-comment .panel-body .form-group #comments{padding-right: 5px;}

/*------------------PAGE CONTACT ---------------------*/
div.contacts .info-contact .icon{float: right; padding-left: 20px; padding-right: 0;}

//--------------------------LAYOUT MENU -----------------

.about-us .content-faq .panel .panel-title a{padding: 15px 25px  15px 0;
    &:before{right: 0; left: inherit;}
    &:after{left: inherit; right: 6px;}
}
.yt-gallery ul li .item-gallery a h3.item-gallery-title{right: -105%; left: inherit;}
.yt-gallery ul li .item-gallery:hover h3.item-gallery-title{right: 0; left: inherit;}