/* ************************************************************************************************
STRUCTURE
************************************************************************************************ */
//Non-responsive Bootstrap
@media  (max-width: 1024px) {.no-res{width: 1190px; }}
.wrapper-boxed,.wrapper-iframed,.wrapper-rounded  {max-width: 1200px;margin: 0 auto;background: #fff;box-shadow: 0 0 10px rgba(0,0,0,.2);}
.wrapper-iframed{margin: 20px auto;}
.wrapper-rounded{margin: 20px auto; border-radius:10px;overflow:hidden;}

/* ************************************************************************************************
		BLOCK HEADER 
************************************************************************************************ */
.header-top{background:#eee;}
.header-center{padding: 36px 0 25px 0;
    &.center{
	.navbar-logo{margin-bottom: 30px;}
	.header-center-right{width: 100%;text-align: center;}
    }
    &.left{
	.header-center-right{text-align: right;}
    }
}
.header-bottom{background: #666666; margin-bottom: 15px;}
.header-top-right{text-align:right;}
.navbar-welcome a {color: #0099ff;
    &:hover{color: $linkColor;}
}
.navbar-main-menu-outer{background:#333;margin-bottom: 30px;}
#main-content,#content{margin-bottom: 30px;}
.header-top-right {display: inline-block;
	ul.top-link{list-style: none;margin:0; vertical-align:top;
		> li{display: inline-block; position: relative;float: left;list-style: outside none none;height: 34px; line-height: 34px;
		 >	a {display: block;line-height: 15px; padding: 0 10px 0 20px; position: relative; height: 34px; line-height: 34px; color: $textBody; font-size: 12px;
			 &:before{background-image: url("../images/icon/ico-quicklink.png"); background-repeat: no-repeat;background-position: center -26px; content: ""; height: 16px;left: 0;position: absolute;top: 10px;width: 18px; @include transition(all 0.3s ease-in-out 0s); }
			}
			&.wishlist{
				a:before{background-position: center -79px;}
			}
			&.checkout{
				a:before{background-position: center -139px;}
			}
			&.login{
				a:before{background-position: center -196px;}
			}
			&:hover{background: $background1;
				> a{color: #fff;}
				&.account a:before{background-position: center 1px;}
				&.wishlist{
				a:before{background-position: center -53px;}
			    }
			    &.checkout{
				a:before{background-position: center -109px}
			    }
			    &.login{
				    a:before{background-position: center -168px;}
			    }
			}
			ul.dropdown-link{position: absolute; background: #fff; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3); left: 0; opacity: 0;
			padding: 0px 10px; top: 33px;  transition:top 0.3s ease 0s, opacity 0.3s ease 0s; width: 200px; z-index: -1; text-align: left;
			    li{display: block; border-left: 0;
				a{border-right: 0;display: block; padding: 5px 0 4px; border-bottom: solid 1px #efefef; font-size: 11px; line-height: 18px; color: $textBody;
				    &:hover{color: $linkColor;}
				    &:after{display: none;}
				}
				
				&:last-child a{border-bottom: 0;}
			    }
			}
			&.account:hover  {
			    ul.dropdown-link {top: 34px; z-index: 9999; opacity: 1; border-top: 1px solid rgba(200, 199, 199, 0.3);}
			}
		}
	}
}
/*========================HEADER SEARCH =================*/
.navbar-search{padding-right: 0; 
    #search{width: 100%;margin: 8px 0 0 0 ;padding: 0;display: inline-block;height: 34px; position: relative;
	   input{width: 100%;float: left; height: 34px;vertical-align: middle;margin: 0;padding: 0;border: 1px solid #ddd; border-right: none; border-radius: 0;box-sizing: border-box;font-size: 12px;font-weight: normal; padding-left: 15px;}
	   button{border: 0; padding: 0; position: absolute; right: 0; background: transparent;
		 span{float: left; width: 34px;height: 34px;margin: 0;padding: 0;font-size: 15px;cursor: pointer; color: $linkColor; position:relative;
		 &:before{content: "\f002"; font-family: FontAwesome; position: absolute; color: $linkColor; right: 10px; top: 8px;}
		 }
		 &:hover span:before{}
	   } 
    }
}

/* TOP PANEL */
.navbar-compact .header-bottom{background: transparent;}
.navbar-compact .shopping_cart {position:relative; z-index:500;}
.navbar-compact .header-bottom-right{margin-top:-53px;}
.navbar-compact #menu .nav > li > a{line-height:40px;color:#666;}
.navbar-compact #menu .nav > li:hover > a{background:#E0E0E0;}


/************************************************************************************************* */
/* left blocks */

.product_page .breadcrumb{margin-bottom:13px}
.block_filter input[type=checkbox]{margin: 0}
footer,footer a{
    color:inherit;
}
footer a:hover{
    color:#337ab7;
}

.footer-container{background-color: #dddddd; padding: 30px 0 0;}
.footer-navbar{
    .module{margin-bottom:17px;
	  h3.modtitle{font-size: 14px;  border-bottom: 0;text-transform: capitalize; margin-bottom:10px;
	   &:after{display: none;}
	  }
	  ul.menu{
	   li a{
		  &:before{content: "\f101";font-family: FontAwesome;margin-right: 5px;}
		  &:hover{color: $linkColor;}
	   }
	  }
    }
    
}
.collapsed-block.footer-links{
    .footer-directory-title{padding: 34px 0 21px;font-size: 91.6%;background: url("../images/line-bg.png") repeat-x top left; margin-top: 4px;}
    ul li a:hover{color: $linkColor;}
}
.footer-bottom-block {background: #444; color: #fff;padding: 10px 0;
    .payment-footer img{margin:0 3px;}
}
.contact-address{
    li{color: #444444;padding: 0 0 5px 41px;position: relative;z-index: 1;line-height: 18px;}
    span{font-size: 18px;left: 0px;margin-right: 10px;position: absolute;background-color: #969696;height: 30px;top: 4px;color: white;border-radius: 2px;width: 30px; line-height: 30px; text-align: center;
	   &:hover{background-color: $background1;}
    }
     > li:nth-child(2) {padding-top: 7px;
	   span{margin-top: -1px;}
	}
    > li:last-child{padding-top: 8px;
	   span{margin-top: 7px;}
    }
    a:hover{color: $linkColor;}
}
.payment-list li{display: inline;}

.block-payment{float: right;
   a{ display: inline-block;text-indent: -999em; background-image: url("../images/payment-bg.png"); background-repeat: no-repeat; width: 36px; height: 20px;
	   &:hover{background: url("#{$base-url}payment-bg.png");}
	   &.payment1{margin-right: -3px;}
	   &.payment2{background-position: -37px center; margin-right: -2px;}
	   &.payment3{background-position: -75px center; margin-right: -1px;}
	   &.payment4{background-position: -114px center;}
	   &.payment5{background-position: -150px center;}
	   &.payment6{background-position: -186px center;}
   
   }
}

/* ************************************************************************************************
	BREADCRUMB
************************************************************************************************ */
.breadcrumb {background: none;border-radius: 0; display: block;padding: 0;
    li{position: relative;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;height: 24px;line-height: 21px; margin-right: 3px;padding: 0 15px 0 20px;
	   a{color: $textBody;}
	   &:after{
			 content:"";background:#fff;border-right:1px solid #e1e1e1;border-top:1px solid #e1e1e1;display: inline-block;
			 height: 17px;width: 16px;position: absolute; transform: rotate(45deg);right: -8px; top: 3px;z-index: 1;
		  }
	   
	   &:first-child{border-left: 1px solid #ddd; border-color: $linkColor !important;
		  a{color: $linkColor;}
		  &:after, &:before{border-color: $linkColor;}
	   }
	   + li{
		  &:before{
			 content:"";background:#fff;border-left:1px solid #e1e1e1;border-top:1px solid #e1e1e1;display: inline-block;
			 height: 18px;width: 17px;position: absolute; transform: rotate(135deg);left: -9px; top: 2px;
		  }
		  &:hover{border-color: $linkColor;
			 a{color: $linkColor;}
			 &:after, &:before{border-color: $linkColor;}
		  }
	   }
    }
}

/* ************************************************************************************************
	PAGINATION
************************************************************************************************ */
.pagination > li {display: inline-block; margin: 0 2px;
    span, a{padding: 6px 8px;}
    a:hover, span:hover{color: #fff; background: $background1; border-color: $linkColor;}
    &.active, &:hover{background: transparent; border-color: $linkColor;
	   span{color: $linkColor; background: transparent; border-color: $linkColor;
		  &:hover{background: $background1; border-color: $linkColor;}
	   }
    }
    &:last-child{margin-right: 0;}
}
.pagination > li:first-child > a, .pagination > li:first-child > span {border-radius: 0;}
.pagination > li > a, .pagination > li > span {color: #666;}
.pagination > li:last-child > a, .pagination > li:last-child > span {border-radius: 0;}


/*---------------------------BLOCK HEADER BOTTOM -----------------------*/
.sidebar-menu{ position: relative; z-index: 99;}

/*------- SPOTLIGHT ------------------*/
.so-spotlight2{margin-top: 34px;}
.so-spotlight3{background-color: #F5F5F5;}

.banner-wraps {
    .m-banner{float: left; width: 100%;}
    .banner{
	 a{overflow: hidden;display: block;float: left;position: relative;
	   &:before{background-color: rgba(0, 0, 0, 0.15); content: ""; height: 0; left: 0; margin: auto; position: absolute; top: 0; transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; -ms-transition: all 0.3s ease-in-out 0s; width: 0;}
	   &:after{background-color: rgba(0, 0, 0, 0.15); bottom: 0; content: ""; height: 0; position: absolute; right: 0; transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; -ms-transition: all 0.3s ease-in-out 0s; width: 0;}
		&:hover{
		   &:before{height: 100%; width: 100%; transition: all 0.4s ease-out 0s; -webkit-transition: all 0.4s ease-in-out 0s; -ms-transition: all 0.4s ease-in-out 0s;}
		   &:after{height: 100%; width: 100%; transition: all 0.4s ease-out 0s; -webkit-transition: all 0.4s ease-in-out 0s; -ms-transition: all 0.4s ease-in-out 0s;}
	   }
	   
   }
    }
    .htmlconten1 {padding-left: 0;}
    .htmlconten2{padding: 0 6px; display: block;
	   .banner{width: 100%;
		  .row1{margin-bottom: 29px;}
	   }
    }	   
    .htmlconten3{padding-right: 0;}
}

#collections_block{
    h3.modtitle{display: block; padding-top: 0; margin-bottom: 28px; line-height: 18px;}
    ul{margin: 0 -6px; 
	   li{padding:0 5px ;font-size: 14px;color: #666666; text-align: center; width: 173.5px;text-transform: uppercase;display:inline-block;
		  .color_co{background-color: #EEEEEE;background-position: center;overflow: hidden;border-color: white;border: 1px solid white;
			 a{float: left; font-weight: bold;width: 100%; height: 126px;text-decoration: none; line-height: 22px;padding: 10px; color: #999; border-bottom: 3px solid $linkColor;
			 background-position: center center;background-repeat: no-repeat;}
			 &:hover{border-color: $linkColor; background: transparent;}
		  }
		  &.collection_0 a {background-image: url('../images/icon/collections-1-1.png'); }
		  &.collection_1 a {background-image: url('../images/icon/collections-2-1.png'); }
		  &.collection_2 a {background-image: url('../images/icon/collections-3-1.png'); }
		  &.collection_3 a {background-image: url('../images/icon/collections-4-1.png'); }
		  &.collection_4 a {background-image: url('../images/icon/collections-5-1.png'); }
		  &.collection_5{display: none;}
	   }
    } 
}

.module.so-categories{margin: 32px 0 0 0;padding: 0 15px;
    h3.modtitle{margin: 0 0 30px;text-transform: uppercase; position: relative;
	   &:after{content: ""; width: 136px; height: 1px; background: $background1; display: block; position: absolute; bottom: 0; }
    }
    .wrap-categories{margin: 0px -15px; overflow: hidden;}
    .cat-wrap.theme3{
	   .content-box{padding-bottom: 28px;
		  .image-cat{position: relative;
			 img:hover{transform: none;}
			 .btn-viewmore{font-size: 77%;text-transform: uppercase;font-weight: bold;color: #fff;background: $background1; padding: 5px 20px 5px 10px;position: absolute;top: 86px; left: 22px;display: inline-block;line-height: 100%;
				&:hover{background: #444;}
				&:after{content: "\f0da"; font-family: FontAwesome; display: block; position: absolute; right: 8px; top: 6px;}
			 }
		  }
		  
		  .inner{padding:13px 13px 0;}
		  .cat-title a{color: #444; font-weight: bold; font-size: 14px;
			 &:hover{color: $linkColor;}	
		  }
		  .child-cat .child-cat-title{padding-left: 11px; line-height: 22px; position: relative; width: 100%; color: $textBody;
			 a{color: $textBody; font-size: 13px;
				&:hover{color: $linkColor;}
			 }
			 &:before{content: ""; width: 4px; height: 4px; background: #999; position: absolute; left: 0; top: 10px; }
			 &:hover{color: $linkColor;
				&:before{background: $background1;}
			 }
		  }
	   }
    }
}