.module{margin-bottom: 40px;
	h3.modtitle{font-size: 16px;border-bottom: 1px solid #e6e6e6;margin: 0 0 20px;padding: 8px 0;text-transform: uppercase; font-weight: bold;position: relative;
		&:after{content: " ";width: 120px;height: 1px;background: $linkColor;display: block;position: absolute;bottom: 0; margin-bottom: -1px;}
	}
}

/*******************************************************
  SUPPLIER
********************************************************/
/*-------- MODULE SEARCH ------------*/
#sosearchpro.search-pro{ width: auto; padding: 8px 0;
	.select_category{width: 140px;
		select{background: #eee; height: 32px; line-height: 30px; border-radius: 0 !important;
			option{background: #fff;}
		}
	}
	.icon-select:after{height: 0; margin: 0 2px;background: #eee; font-size: 14px; top: -2px;}
	.autosearch-input{height: 34px; background: #fff; border-right: 0;}
	.button-search{height: 34px; width: 34px; line-height: 34px;background: #fff;
		i{position: absolute; top: 8px;right: 7px; font-size: 18px; color: $linkColor; }
		&:hover{background: $background1; border: 1px solid $linkColor;
			i{color: #fff;}
		}
	}
}

/*--------------------SLIDESHOW --------------------*/
#so-slideshow{width: 100%;
	.slideshow{margin: 10px 0 0;
		img{width: 100%; }
		.owl2-controls .owl2-nav{
			div{ position: absolute;top: 44.5%;outline: 0;width: 30px;height: 50px;font-size: 0; z-index: 9; transition: all 0.3s ease;
				&.owl2-prev{left: 0px;background: url("../images/icon/arrow-slider-left.png") no-repeat;
					&:hover{background-position: 0 -59px;}
				}
				&.owl2-next{right: 0px;background: url("../images/icon/arrow-slider-right.png") no-repeat;
					&:hover{background-position: 0 -59px;}
				}
			}
		}
	}
}

/*--------------------HTML Content ----------------*/

/*----Block-1  -------------*/
.banner-html .module {margin-bottom: 30px;} 
.banner-wraps .m-banner{
	.m-banner-right{float: left;width: 67.5%;
		.m-banner34{margin-top: 10px;float: left;
			.m-banner3, .m-banner4{float: left; width: 49.1%;}
			.m-banner3{margin-right: 10px;}
		}
	}
	a{overflow: hidden;display: block;float: left;position: relative; width: 100%;
		&:before{position: absolute;background: rgba(0,0,0,0.3);width: 0;top: 0;left: 50%;content: ""; transition: all 0.3s ease-in-out 0s;}
			&:hover{
				&:before{width: 100%;left: 0;top: 0;height: 100%;}
			}
	}
	.m-banner1{float: right;margin-left: 10px;width: 31%;}
}
.module.banner-middle{margin-bottom: 30px;}
.module.collections{margin-bottom: 0; margin-top: -9px;}
/*------Block-2  - CLIENT SAY---------*/

.block-clientsay {
   
    .item{ border: 1px solid #ddd; padding: 15px 20px;
	-webkit-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
 
	   .client-info{ border-top: 1px solid #ddd; margin-top: 15px; padding-top: 20px;
		  strong{font-size: 116.6%; text-transform: uppercase; font-weight: bold; color: #444;}
		  img{float: left; margin-right: 10px;}
	   }
    }
    .owl2-nav{position: absolute; top: -55px;width: 100%;
        div{width: 20px; height: 27px; border: 1px solid #dfdfdf;border-radius: 0; font-size: 0; background-color: transparent; @include transition (all 0.3s ease-in-out 0s);
            &.owl2-prev{background: url(../images/icon/next-prev-detail.png) no-repeat; background-position: -41px 0px;position: relative; right: 30px;float: right;background-color: #fff;
                &:hover{border-color: $linkColor;background-color: $background1; background-position: -4px 0px; opacity: 1;}
                &.disabled{display: none;}
			 &:before{display: none;}
            }
            &.owl2-next{background: url(../images/icon/next-prev-detail.png) no-repeat; background-position: -76px 0px; position: relative; right: -18px;float: right;background-color: #fff;
                &:hover{border-color: $linkColor;background-color: $background1; background-position: -112px 0px; opacity: 1;}
                &.disabled{display: none;}
			 &:before{display: none;}
            }
        }
        
    }
}
/*==========================BLOCK CART ======================*/
.shopping_cart{
	.btn-group{display: block;width: 179px;}
	a.top_cart{display: block; position: relative; box-shadow: none !important; text-decoration: none !important;
	   .shopcart{
		
		.title{color: #444;font-weight: bold;text-transform: uppercase;}
		.text-shopping-cart{color: #999;}
	   }
	   .handle{background: url("../images/icon/icon_minicart.png") no-repeat 8px 8px;background-color: $background1; width: 36px; height: 34px; margin: 5px 10px;
	   }
    }
    .shoppingcart-box{min-width: 350px; padding: 15px;border-radius: 0; border-top: 3px solid $linkColor;
	&:before{content: ""; height: 1px; width: 1px; border-style: solid; border-bottom: 10px solid $linkColor; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: transparent; position: absolute;top: -10px;right: 114px;}
		.added_items{margin-bottom: 10px;}
		.table-striped{
		  >tbody>tr:nth-of-type(odd){background: #fff;}
			a{color: $textBody;font-weight: bold;
			    &.fa-edit{display: none;}
			    &:hover{color: $linkColor;}
			}
			
			a.fa-delete{width: 20px; height: 20px; background: #d6d6d6; border-radius: 3px; text-align: center; line-height: 19px; color: #000;
				&:hover{background: $background1; color: #fff; text-decoration: none;}
			}
			
	   }
	   a.btn{padding: 6px 20px 6px 10px;  color: #fff;background: #444; border-color: #444;
		  i{margin-right: 5px;}
		  &:hover{border: 1px solid $linkColor;background: $background1;}
	   }
    }
    .table-bordered{border-left: 0; border-right: 0;}
    .table>tbody>tr{margin: 10px 0;
		&:first-child>td{border-top: 0;}
	}
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{vertical-align: middle;}
	.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td,
	.table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{border: 0;}
}




/*----BLOCK CART ----*/

//---------------LANGUAGE BLOCK -------------------------
.header-top ul.dropdown-menu{min-width: 120px;margin:0;border-radius:0;
	li a{color: $textBody;}
	li:hover a{color: $linkColor;}
}
.header-top .languages-block{margin-right: 4px;}
.header-top .languages-block{z-index: 2;position:relative;vertical-align:top; float: right; margin-bottom:0;margin-top: 4px;
    form{
	 >  a{ color: #777; display:block;line-height:22px;padding:0 10px;border: 1px solid #dfdfdf; }
		&:hover{background: $background1;border-color:$background1;
			> a{color: #fff;}
		}
	   
    }
    
}
//------------------CURRENCY BLOCK -------------------------
.currencies-block{@extend .languages-block;}

/* ************************************************************************************************/
/*--------------------VERTICAL MENU ---------------------*/
.common-home .sidebar-menu .so-vertical-menu .container-megamenu .vertical-wrapper{display: block;}

.sidebar-menu .so-vertical-menu{ position: relative;
	#menuHeading{margin-top: 0;height: 50px;
		.megamenuToogle-wrapper{background-color: #444; height: 50px; cursor: pointer; @include transition(0.3s all ease 0s);
			.container{font-size: 14px; text-transform: uppercase; font-weight: bold;
				> div{margin: 2px 9px 0px 0px;}
				.arrow-circle{font-size: 17px; margin: 0 -18px;}
			}
		}
	}
	.container-megamenu {
		.vertical-wrapper{display: none;}
		&:hover .vertical-wrapper{display: block;}
	}
	.vertical-wrapper{border-top: 3px solid $linkColor;width: 100%;background: white;position: absolute;border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;  z-index: 999;border-left: 1px solid #ddd;	
		ul li{background: white; border-top: 0; min-height: 37px;
			> a{color: $textBody; padding: 0 18px; min-height: 38px; line-height: 44px; border-bottom: 0; text-transform: capitalize;
				&:hover{color: $linkColor;}
			}
			
		}
	}
	.vertical ul.megamenu > li{margin: 0;
		>a {padding-left: 15px;} 
		&.with-sub-menu{
			> a:after{position: absolute; background: url("../images/icon/ico-menu-parent.png") no-repeat;width: 20px; height: 24px;top: 17px;right: 10px; left: inherit; content: ""; background-position: center -25px; float: right; /*@include transition(0.3s all ease 0s);*/}
			
			&:hover > a:after{background-position: center 0;}
			
		}
		&:hover{background-color: $background1;
			>a{color: #fff;}
		}
		&.active > a{background: transparent !important; color: #fff;}
		&.loadmore{text-align: left; border-top: 1px solid #ddd; padding: 13px 10px;
			span.more-view{font-weight: normal; padding: 13px 0;
			}
			&:hover{color: #fff;
				span.more-view{color: #fff;}
			} 
		}
			
		.sub-menu .content{border-top: 1px solid #ddd;
			.banner{margin-top: -20px; margin-bottom: -20px;}
			.static-menu .menu ul a.main-menu{padding: 0;}
		}
		.icon{width: 30px; height: 30px; display: inline-block; margin-top: 10px; float: left;}
		.icon1{background: url('../images/icon/9.png') no-repeat scroll 0% 20% transparent; }
		.icon2{background: url('../images/icon/1.png') no-repeat scroll 0% 20% transparent;}
		.icon3{background: url('../images/icon/10.png') no-repeat scroll 0% 20% transparent;}
		.icon4{background: url('../images/icon/2.png') no-repeat scroll 0% 20% transparent;}
		.icon5{background: url('../images/icon/3.png') no-repeat scroll 0% 20% transparent;}
		.icon6{background: url('../images/icon/11.png') no-repeat scroll 0% 20% transparent;}
		.icon7{background: url('../images/icon/13.png') no-repeat scroll 0% 20% transparent;}
		.icon8{background: url('../images/icon/4.png') no-repeat scroll 0% 20% transparent;}
		.icon9{background: url('../images/icon/7.png') no-repeat scroll 0% 20% transparent;}
		.icon10{background: url('../images/icon/6.png') no-repeat scroll 0% 20% transparent;}
		.icon11{background: url('../images/icon/8.png') no-repeat scroll 0% 20% transparent;}
		.icon12{background: url('../images/icon/12.png') no-repeat scroll 0% 20% transparent;}
		.icon13{background: url('../images/icon/5.png') no-repeat scroll 0% 20% transparent;}
	}
	ul.megamenu .sub-menu .content .static-menu .menu ul {padding-bottom: 0;
		li >a{line-height: inherit; padding-bottom: 0; border-bottom: none; min-height: auto;
			 &:hover{color: $linkColor;}
		}
		ul a{padding: 0;
			 &:hover{color: $linkColor;}
		}
	}
	
}

/*-------------------BLOCK CATEGORIES -----------*/
.block_category{margin-top: 0;
	.box-content{margin-top: 20px;border: 1px solid #e6e6e6;
		ul{display: block;
			li{position: relative;border-bottom: 1px dotted #E4E4E4;margin: 0 20px;
				a{display: block;line-height: 30px; padding: 5px 30px 5px 0px; color: #444;border-radius: 0; border: 0; background-color: transparent;
					&:hover{color: $linkColor;}
					
				}
				span.button-view{display: block;position: absolute; right: 0;top: 5px;cursor: pointer; z-index: 10; font-size: 0;text-align: center;
					&:before{content: "\f147";font-family: "FontAwesome"; display: block;vertical-align: middle;width: 30px;height: 30px;line-height: 30px; font-size: 14px;}
					&.ttclose:before{content: "\f196"}
					
				}
				ul{padding-bottom: 10px;
					li{border-bottom: none;
						a{line-height: 20px; padding-right: 0;
							&:before{font-family: fontawesome; content: "\f105";margin-left: -12px;-webkit-transition: all 400ms ease;transition: all 400ms ease;opacity: 0;filter: alpha(opacity=0);}
							&:hover:before{margin-left: 0; opacity: 1;}
						}
					}
				} 
				&:hover{
					>a, span:before{color: $linkColor;}
				}
			}
		}
	}
}
/*-----------------BLOCK FILTER ------------*/
.block_filter{margin-top: 30px;
	.title-filter{color: #666;line-height: 15px;padding:10px 0;text-transform: capitalize;border: 0;font-size: 18px;}
	.simple-list{
		label{margin: 0;padding-top: 8px;font-size: 12px;color: #666;text-transform: capitalize;padding-left: 30px;
			input{float: left;margin-left: -20px;position: relative; top: 4px;}
		}
	}
	button#button-filter{background: $background1; border-radius: 0; color: #fff;margin-top: 20px;text-transform: uppercase; font-weight: bold;
		&:hover{background: #000;}
	}
}

/*--------------------  LATEST PRODUCT -----------------*/

.latest-product{margin-bottom: 30px;
	
	.product-latest-item{margin-bottom:  20px;}
	.product-latest-item:last-child{margin:0;}
	.media{
		.media-left{float: left; border: 1px solid #ddd; padding: 0; margin-right: 20px;}
		.media-body{
			h4{margin-top: 0;
				a{font-size: 13px; color: $textBody; font-weight: bold;
					&:hover{color: $linkColor;}
				}
			} 
			.description, .button-group{display: none;}
			.price{margin-bottom: 0;
				.price-new{font-size: 14px;}
			} 
		}
		&:hover .media-left{border-color: $linkColor;}
	}
}
/*-----------FOOTER LINK -------------------*/
.footer-directory-title{
	
	.label-link{
		color: #444;
		font-weight:bold;
		padding-bottom: 5px;
		font-size: 11px;
	}
}
ul.footer-directory{
	list-style: outside none none;
	padding: 0;
	margin: 0;
	li{
		padding-bottom: 3px;
		h2{
			color: #444;
			display: inline-block;
			font-weight: bold;
			line-height: 22px;
			text-transform: uppercase;
			font-size: 11px;
			margin: 0; margin-right: 5px;
		}
		a{
			font-size: 11px;
		}
	}
}

/*=======================================FEATURED PRODUCT ===========================*/
.featured-product{
	h3{margin-bottom: 20px;
		&:after{width: 100px;}
	}
}


/*-------------------------NEWSLETTER ------------------------------*/
.news-letter{
	.newsletter{background: url("../images/newsletter-bg.jpg") no-repeat;overflow: hidden; padding: 42px 20px; text-align: left;background-size: cover;
		h2{font-size: 216.6%;font-weight: bold;text-transform: uppercase;line-height: 100%;margin-top: 0;margin-bottom: 15px;color: #fff;}
		p{color: #fff;line-height: 18px;}
		.input-box{height: 40px;border: none; width: 100%;
			input{height: 40px;border: none; width: 100%;vertical-align: top;padding: 5px 15px;}
		}
		.form-group{position: relative;z-index: 5; margin: 0;}
		.subcribe{
			button{width: 49px;min-width: 49px;height: 40px;background: url("../images/newsletter-btn.png") no-repeat center center; position: absolute;right: 0px;bottom: 0px;text-indent: -999em;border: none; background-color: $background1;}
			span{display: none;}
		} 
	}
}

/*----------------LISTING TABS -----------------------*/
.tab-slider{position: relative; clear: both; 
	h3{position: absolute;display: inline-block;font-size: 17px;font-weight: bold;top: 8px; padding-bottom: 8px;text-transform: uppercase;border-bottom: 1px solid $linkColor; margin-top: 0;}
	.so-listing-tabs{margin: 0 ; vertical-align: top;
		.ltabs-wrap,.ltabs-items-container .ltabs-items-inner,.ltabs-wrap .ltabs-items-container,
		.ltabs-items-container .ltabs-items{overflow: visible;}
		.ltabs-wrap .ltabs-tabs-container{margin: 0 0 5px 0; overflow: visible;}
		.ltabs-tabs-container .ltabs-tabs-wrap{height: 35px;z-index: 9;border-bottom: 1px solid #ddd;
			.ltabs-tabs{display: block;float: right;margin-right: 80px;
				li{border: 0; margin: 0; padding: 0;
					span{padding: 0 12px;}
					&:hover{background: transparent; border-bottom: 0;
						span{color: $linkColor;}
					}
			&.tab-sel{ background-color: white;border-left: 1px solid #ddd; border-bottom: 1px solid white;
						margin-top: 1px; padding-bottom: 1px;margin-bottom: 0px;border-right: 1px solid #ddd;border-top: 3px solid $linkColor;;
							span{color: $linkColor;}
							&:hover{border-bottom: 0;}
						}
				}	
			}
		}
		.owl2-controls{width: 100%;position: absolute;float: left; top: -23px;
			.owl2-nav .owl2-prev{width: 20px;height: 27px; border: 1px solid #ddd;background-image: url(../images/icon/ico-slider.png); background-repeat: no-repeat; background-color: #fff; display: inline-block; text-indent: -999em;background-position: -31px 0; position: absolute; right: 25px; transition: all 0.2s ease-in-out 0s; left: inherit;
				&:hover{background-color: $background1; background-position: 0px 0; border-color: $linkColor;}
				&:before{display: none;}
			}
			.owl2-nav .owl2-next{width: 20px;height: 27px; border: 1px solid #ddd;background: url(../images/icon/ico-slider.png) no-repeat;display: inline-block; text-indent: -999em;background-position: -60px 0; position: absolute; ;transition: all 0.2s ease-in-out 0s; right: 0;
				&:hover{background-color: $background1; background-position: -90px 0; border-color: $linkColor;}
				&:before{display: none;}
			}
		} 
	}
	.ltabs-items-container .ltabs-items{padding: 0 15px; 
		.item-inner{margin: 15px 1px 0 1px !important;padding: 20px;border: 1px solid #dddddd;overflow: hidden; 
			.product-image-container{width: 100%;float: left; position: relative;overflow: hidden; text-align: center;
				.quickview{cursor: pointer; display: block;text-align: center;background: none repeat scroll 0 0 white;
				box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);color: #777676;font-size: 13px;height: 35px; line-height: 35px; left: 50%;margin: -21px 0 0 -53px;
				padding:0; position: absolute;top: 0; opacity: 0; width: 107px; border-radius: 0;}
				.img_0{position: absolute;z-index: 8;-webkit-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;top: 100%;left: 0; opacity: 0;}
			}
			.caption{float: left; width: 	100%; margin-top: 16px;
				h4{font-size: 15px; margin: 0;}
				h4 a{font-size: 15px; color: $textBody; font-weight: bold;}
			}
			.button-group{
				.addToCart{position: relative;border: 1px solid #ddd;background: transparent;color: #444;font-size: 12px; font-weight: bold; text-transform: uppercase; padding: 5px 15px 5px 8px; float: left; margin-right: 3px;
				    i{margin-right: 5px;}
				    &:hover{background: $background1; color: #fff; border-color: $linkColor;
					   &:before{background-position: 0px 0px;}
				    }
				}
				.wishlist,.compare{background: transparent; border-radius: 0;border: 1px solid #ddd; width: 31px; height: 34px; text-align: center; margin: 0 2px; float: left;
				    &:hover{border-color: $linkColor; color: $linkColor;}
				}
			}
			&:hover{box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
				.product-image-container .quickview{top: 44%; opacity: 1;@include transition(all 0.3s ease-in-out 0s); background: $background1; color: #fff; border-color: $linkColor;
						&:hover{background: #444; border-color: #444;}
				}
				.product-image-container .img_0{top: 0; opacity: 1; z-index: 0;}
				.caption h4 a{color: $linkColor;}
				.button-group .addToCart{background: $background1; color: #fff; border-color: $linkColor;
					&:hover{background: #444; border-color: #444;}
				}
			}
		}
	}
}
.module.so-listing-tabs .ltabs-items-container .ltabs-items .ltabs-slider .ltabs-item{margin-bottom: 2px; box-shadow: none;}